.messages-chat {
  width: 35%;

  &__container {
    height: 100%;
    padding: 15px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 0 10px 10px 0;
    box-shadow: 0 0 5px rgba($color: #000000, $alpha: 0.2);
    position: relative;
    &__infor {
      box-shadow: 0 0 5px rgba($color: #000000, $alpha: 0.2);
      padding: 5px;
      box-sizing: border-box;
      border-radius: 5px;
      display: none;
      &__title {
        margin-bottom: 10px;
      }
      &__list {
        display: flex;
        justify-content: space-around;
        &__item {
          width: 20%;
          &__name {
            text-align: center;
            font-weight: 600;
          }
          &__price {
            display: flex;
            justify-content: center;
            align-items: center;
            p {
              margin-right: 10px;
            }
            &__unit {
              width: 10px;
              height: 10px;
            }
          }
        }
      }
    }
    &__frames-chat {
      height: 430px;
      background-color: rgba(0, 0, 0, 0.05);
      border-radius: 5px;
      box-shadow: 0 0 5px rgba($color: #000000, $alpha: 0.2);
      overflow-y: auto;

      overflow-x: none;
      padding: 5px;
      &__inbox-item {
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
        padding: 5px;
        box-sizing: border-box;
        background-color: white;
        border-radius: 5px;
        &__avatars {
          display: flex;
          &__avatar {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-right: 15px;
            &__img {
              width: 30px;
              height: 30px;
              border-radius: 50%;

              cursor: pointer;
              border: 1px solid white;
            }
            p {
              text-align: center;
              margin-top: -5px;
              font-weight: 600;
            }
          }
          &__content {
            word-break: break-all;
            width: 260px;
            z-index: 5;
          }
        }
        &__gift {
          display: flex;
          flex-direction: column;
          align-items: center;
          &__img {
            width: 25px;
            height: 25px;
          }
          &__img-1 {
            width: 70px;
            height: 70px;
          }
          &__img-2 {
            width: 110px;
            height: 110px;
          }
          &__price {
            display: flex;
            width: 100px;
            align-items: center;
            justify-content: center;
            &__unit {
              width: 25px;
              height: 25px;
              animation: animationDiamond 1s infinite;
            }
            p {
              font-size: 20px;
              margin-right: 10px;
            }
          }
        }
      }
    }
    &__content-message {
      display: flex;
      height: 50px;
      border-radius: 5px;
      box-shadow: 0 0 5px rgba($color: #000000, $alpha: 0.2);
      align-items: center;
      justify-content: center;

      &__input {
        display: flex;
        width: 78%;
        height: 80%;
        input {
          width: 80%;
          border: 1px solid grey;
          border-right: none;
          outline: none;
          border-radius: 5px 0 0 5px;
          padding: 0 10px;
          box-sizing: border-box;
        }
        span {
          width: 80%;
          border: 1px solid grey;
          border-right: none;
          word-break: break-all;
          outline: none;
          border-radius: 5px 0 0 5px;
        }
        textarea {
          width: 80%;
          border: 1px solid grey;
          border-right: none;
          outline: none;
          border-radius: 5px 0 0 5px;
        }
        &__btn-send {
          width: 20%;
          display: flex;
          justify-content: flex-end;
          align-items: flex-end;
          justify-content: center;
          align-items: center;
          width: 50px;
          border: 1px solid grey;
          border-left: none;
          border-radius: 0 5px 5px 0;
          cursor: pointer;
          button {
            width: 40px;
            height: 25px;
            padding: 0;
            color: white;
            background-color: black;
            margin-right: 2px;
            margin-bottom: 2px;
            border: none;
          }
          input {
            width: 40px;
            height: 25px;
            padding: 0;
            color: white;
            background-color: black;
            margin-right: 2px;
            margin-bottom: 2px;
            border: none;
          }
          img {
            width: 25px;
            height: 20px;
          }
        }
      }
      &__btn-point {
        width: 15%;
        height: 80%;
        border-radius: 3px;
        margin-right: 10px;

        &__btn {
          outline: none;
          font-size: 20px;

          background-color: transparent;
          border: none;
          cursor: pointer;
          height: 100%;
          z-index: 20;
          &:hover {
            transform: translateX(0);
            animation: animationGift 0.25s linear;
          }
          img {
            width: 30px;
            height: 30px;
          }
        }
      }
    }
    &__icon {
      position: absolute;

      bottom: 70px;
      width: calc(100% - 0px);
      left: 50%;
      transform: translateX(-50%);
      z-index: 10;
      width: 90%;
      &__wrap {
        border-radius: 10px;
        background-color: white;
        box-shadow: 0 0 5px rgba($color: #000000, $alpha: 0.2);
        border: 1px solid grey;

        position: relative;
        &__btn-hide {
          position: absolute;
          top: -10px;
          right: -10px;
          z-index: 500;

          &__img {
            width: 35px;
            height: 35px;
            border-radius: 50%;
            background-color: rgba($color: #000000, $alpha: 0.2);
            cursor: pointer;
          }
          &:hover {
            &__img {
              width: 10px;
            }
          }
        }
        &__arrow-show {
          position: absolute;
          bottom: -30px;
          left: 20px;
          border: 15px solid rgba($color: #000000, $alpha: 0);
          border-top-color: rgba(198, 198, 198, 0.5);
          z-index: 1;
        }
        &__list {
          overflow-y: auto;
          height: 200px;
          &__type {
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;

            padding: 10px;

            &__item {
              width: 20%;
              margin-bottom: 10px;
              text-align: center;
              &__gift {
                width: 30px;
                height: 30px;
                cursor: pointer;
              }

              &__infor {
                display: flex;
                justify-content: center;
                align-items: center;
                &__price {
                  text-align: center;
                }
                &__unit {
                  width: 10px;
                  height: 10px;
                }
              }
            }
            &__item-1 {
              width: 33.3333333333333333333%;
              margin-bottom: 10px;
              text-align: center;
              &__gift-1 {
                width: 60px;
                height: 60px;
                cursor: pointer;
              }
            }
            &__item-2 {
              width: 50%;
              margin-bottom: 10px;
              text-align: center;
              &__gift-2 {
                width: 100px;
                height: 100px;
                cursor: pointer;
              }
            }
          }
        }
      }
    }
  }
}
@keyframes animationDiamond {
  0% {
    transform: rotateY(0);
  }
  100% {
    transform: rotateY(180deg);
  }
}

@keyframes animationGift {
  0% {
    transform: translateX(-5px);
  }
  25% {
    transform: translateX(5px);
  }
  50% {
    transform: translateX(-3px);
  }
  75% {
    transform: translateX(3px);
  }
  100% {
    transform: translateX(0);
  }
}
